{% extends 'index.html' %}

{% block 'body' %}
<br>
<br>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<b style="color:darkblue; font-style: normal; font-size: 25px">
    A Student Grade Management System, often referred to as a Gradebook or Grading System, is a software
    application or platform designed to help educational institutions, teachers, and administrators
    efficiently manage, record, and analyze student grades and academic performance. It streamlines the
    grading process, reduces administrative work, and enhances transparency and communication between
    students, parents, and educators. It is a valuable tool for managing academic performance and
    supporting student success in educational institutions of all levels, from K-12 schools to universities.</b>



{% endblock %}